.gallery-image img {
    width: 100%;
}

#backgroundimage {
    background-image: url("./banner2.jpg");
    width: 100%;
    margin: auto;
    height: calc(100vh - 1000px);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

header .logo {
    text-align: center;
    padding: 10px 0 20px 0;
    font-family: Arial;
    
    
}

header h1 {
    font-size: 32px;
    font-weight: 300;
    color: #000000;
    text-transform: uppercase;
}

header h2 {
    font-size: 24px;
    margin-bottom: 20px;
    font-weight: 100;
    letter-spacing: 2px;
    color: #000000;
    font-style: italic;
    text-transform: uppercase;
    
}

h3 {
    text-transform: uppercase;
}


hr {

    color: #4f5663;
    border-width: 1px;
    width: 70%;
    margin: 0 auto;
    margin-bottom: 5px;
    margin-top: -15px;

}

.container {
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.container .image {
    width: 50%; /*or whatever you choose*/
    margin: auto;

}

.image img {
    display: block;
    width: 100%;
    max-width: 305px; /*actual image width*/
    height: auto; /* maintain aspect ratio*/
    margin: auto; /*optional centering of image*/
 
}

.text {
    width: 50%; /*or whatever you choose*/
    margin: auto;
    border-left-style: solid;
    border-left-color: #0000;
    border-left-width: 125px;
}


header nav ul {
    display: block;
    margin: 0 auto;
    text-align: center; 
    width: fit-content;
}

header nav ul li {

    display: inline-block;
    padding: 16px 16px;

}


nav ul li a {

    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    font-size: 18px;
    letter-spacing: 3px;
    color: #172029;
    text-transform: uppercase;
    text-decoration: none;

}


footer {

    width: calc(100% - 80px);
    padding: 40px 40px;
    background-color: #bdc3c7;
    margin-top: 20px;
    overflow:hidden;

}

footer ul {

    width: fit-content;
    float: left;
    padding-left: 0px;

}

footer ul li {

    display: block;
    padding: auto;
    text-align: left;


}

footer ul li p {

    font-family: arial;
    font-weight: 300;
    font-size: 14px;
    line-height: 4px;

}

.footer-sm {

    width: 42px;
    float: right;
    display: inline-block;
    align-content: center;

}

.footer-sm img {

width: 100%;
margin-bottom: 10px;

}

.gallery-image {

    margin: 20px;
    position: relative;
    text-align: center;
    -webkit-flex-basis: 300px;
    -moz-flex-basis: 300px;
    flex-basis: 300px;
 
    
} 

.container-img {
    display: inline-block;
    position: relative;
    width: 200px;
    height: 200px;
    overflow: hidden;
    border-radius: 50%;
}

.container-img img {
    width: auto;
    height: 100%;
    margin-left: -50px;
}

.post-header {       

/*kujundus*/

    font-family: Arial;
    font-weight: 700;
    font-size: 22px;
    letter-spacing: 3px;
    line-height: 24px;
    color: #ffffff;
    text-transform: uppercase;
    text-shadow: 3px 3px 9px #111111;

/*positsioneerimine*/

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}

.gallery-links {
    
    display: flex;
    flex-flow: row wrap;
    display: -webkit-flex;
    -webkit-flex-flow: row wrap;
    display: -moz-flex;
    -moz-flex-flow: row wrap;
    justify-content: center;
    -o-flex-flow: row wrap;
    justify-content: center;

}


@media (max-width: 629px) {
    .image {

    display: none;

    }
    
    
    .text {
  
    border: none;
    }
    

    nav ul li a {

    font-weight: 200;
    font-size: 16px;
    letter-spacing: 2px;

    }
    
    header h2 {
        font-size: 14px;
    }
    
    
    
}
    